:root {
  --accent-color: #d41443;
  --hero-bg-color: #ffb8ca;
  --primary-bg-color: #fff5f6;
  --header-modal-bg: #e17992;
  --primary-text-color: #ffa5ba;
  --secondary-text-color: #907e82;
  --universal-white-color: #ffffff;
  --universal-black-color: #000000;
  --btn-light-hover: #d41443;
  --btn-dark-hover: #ecebeb;
  --slider-bg-color: #fafafa;
  --products-ice-cream-color: #ffb8ca;
  --products-milkshakes-color: #c2e297;
  --products-ice-coffee-color: #f0d1a5;
  --contact-foodtruck: #c2e297;
  --contact-cafe-color: #f0d1a5;
}
