<section id="our-products" class="gallery">
  <div class="container">
    <h2 class="gallery__title visually-hidden">Gallery Title</h2>

    <div class="grid">
      <div class="gutter_sizer"></div>
      <div class="grid_columnWidth"></div>

      <div class="grid__item gread__item-1">
        <picture>
          <source
            srcset="
              images/gallery/1/img-l.webp    1x,
              images/gallery/1/img-l@2x.webp 2x,
              images/gallery/1/img-l.jpg     1x,
              images/gallery/1/img-l@2x.jpg  2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              images/gallery/1/img-m.webp    1x,
              images/gallery/1/img-m@2x.webp 2x,
              images/gallery/1/img-m.jpg     1x,
              images/gallery/1/img-m@2x.jpg  2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              images/gallery/1/img-s.webp    1x,
              images/gallery/1/img-s@2x.webp 2x,
              images/gallery/1/img-s.jpg     1x,
              images/gallery/1/img-s@2x.jpg  2x
            "
            media="(min-width: 320px)"
          />
          <img src="images/gallery/1/img-l.jpg" alt="photo1" />
        </picture>
      </div>

      <div class="grid__item gread__item-2">
        <picture>
          <source
            srcset="
              images/gallery/2/img-l.webp    1x,
              images/gallery/2/img-l@2x.webp 2x,
              images/gallery/2/img-l.jpg     1x,
              images/gallery/2/img-l@2x.jpg  2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              images/gallery/2/img-m.webp    1x,
              images/gallery/2/img-m@2x.webp 2x,
              images/gallery/2/img-m.jpg     1x,
              images/gallery/2/img-m@2x.jpg  2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              images/gallery/2/img-s.webp    1x,
              images/gallery/2/img-s@2x.webp 2x,
              images/gallery/2/img-s.jpg     1x,
              images/gallery/2/img-s@2x.jpg  2x
            "
            media="(min-width: 320px)"
          />
          <img src="images/gallery/2/img-s.jpg" alt="photo2" />
        </picture>
      </div>

      <div class="grid__item gread__item-3">
        <picture>
          <source
            srcset="
              images/gallery/3/img-l.webp    1x,
              images/gallery/3/img-l@2x.webp 2x,
              images/gallery/3/img-l.jpg     1x,
              images/gallery/3/img-l@2x.jpg  2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              images/gallery/3/img-m.webp    1x,
              images/gallery/3/img-m@2x.webp 2x,
              images/gallery/3/img-m.jpg     1x,
              images/gallery/3/img-m@2x.jpg  2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              images/gallery/3/img-s.webp    1x,
              images/gallery/3/img-s@2x.webp 2x,
              images/gallery/3/img-s.jpg     1x,
              images/gallery/3/img-s@2x.jpg  2x
            "
            media="(min-width: 320px)"
          />
          <img src="images/gallery/3/img-s.jpg" alt="photo3" />
        </picture>
      </div>

      <div class="grid__item gread__item-4">
        <picture>
          <source
            srcset="
              images/gallery/4/img-l.webp    1x,
              images/gallery/4/img-l@2x.webp 2x,
              images/gallery/4/img-l.jpg     1x,
              images/gallery/4/img-l@2x.jpg  2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              images/gallery/4/img-m.webp    1x,
              images/gallery/4/img-m@2x.webp 2x,
              images/gallery/4/img-m.jpg     1x,
              images/gallery/4/img-m@2x.jpg  2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              images/gallery/4/img-s.webp    1x,
              images/gallery/4/img-s@2x.webp 2x,
              images/gallery/4/img-s.jpg     1x,
              images/gallery/4/img-s@2x.jpg  2x
            "
            media="(min-width: 320px)"
          />
          <img src="images/gallery/4/img-s.jpg" alt="photo4" />
        </picture>
      </div>

      <div class="grid__item gread__item-5">
        <picture>
          <source
            srcset="
              images/gallery/5/img-l.webp    1x,
              images/gallery/5/img-l@2x.webp 2x,
              images/gallery/5/img-l.jpg     1x,
              images/gallery/5/img-l@2x.jpg  2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              images/gallery/5/img-m.webp    1x,
              images/gallery/5/img-m@2x.webp 2x,
              images/gallery/5/img-m.jpg     1x,
              images/gallery/5/img-m@2x.jpg  2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              images/gallery/5/img-s.webp    1x,
              images/gallery/5/img-s@2x.webp 2x,
              images/gallery/5/img-s.jpg     1x,
              images/gallery/5/img-s@2x.jpg  2x
            "
            media="(min-width: 320px)"
          />
          <img src="images/gallery/5/img-s.jpg" alt="photo5" />
        </picture>
      </div>

      <div class="grid__item gread__item-6">
        <picture>
          <source
            srcset="
              images/gallery/6/img-l.webp    1x,
              images/gallery/6/img-l@2x.webp 2x,
              images/gallery/6/img-l.jpg     1x,
              images/gallery/6/img-l@2x.jpg  2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              images/gallery/6/img-m.webp    1x,
              images/gallery/6/img-m@2x.webp 2x,
              images/gallery/6/img-m.jpg     1x,
              images/gallery/6/img-m@2x.jpg  2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              images/gallery/6/img-s.webp    1x,
              images/gallery/6/img-s@2x.webp 2x,
              images/gallery/6/img-s.jpg     1x,
              images/gallery/6/img-s@2x.jpg  2x
            "
            media="(min-width: 320px)"
          />
          <img src="images/gallery/6/img-s.jpg" alt="photo6" />
        </picture>
      </div>

      <div class="grid__item gread__item-7">
        <picture>
          <source
            srcset="
              images/gallery/7/img-l.webp    1x,
              images/gallery/7/img-l@2x.webp 2x,
              images/gallery/7/img-l.jpg     1x,
              images/gallery/7/img-l@2x.jpg  2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              images/gallery/7/img-m.webp    1x,
              images/gallery/7/img-m@2x.webp 2x,
              images/gallery/7/img-m.jpg     1x,
              images/gallery/7/img-m@2x.jpg  2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              images/gallery/7/img-s.webp    1x,
              images/gallery/7/img-s@2x.webp 2x,
              images/gallery/7/img-s.jpg     1x,
              images/gallery/7/img-s@2x.jpg  2x
            "
            media="(min-width: 320px)"
          />
          <img src="images/gallery/7/img-s.jpg" alt="photo7" />
        </picture>
      </div>

      <div class="grid__item read__item-8">
        <picture>
          <source
            srcset="
              images/gallery/8/img-l.webp    1x,
              images/gallery/8/img-l@2x.webp 2x,
              images/gallery/8/img-l.jpg     1x,
              images/gallery/8/img-l@2x.jpg  2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              images/gallery/8/img-m.webp    1x,
              images/gallery/8/img-m@2x.webp 2x,
              images/gallery/8/img-m.jpg     1x,
              images/gallery/8/img-m@2x.jpg  2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              images/gallery/8/img-s.webp    1x,
              images/gallery/8/img-s@2x.webp 2x,
              images/gallery/8/img-s.jpg     1x,
              images/gallery/8/img-s@2x.jpg  2x
            "
            media="(min-width: 320px)"
          />
          <img src="images/gallery/8/img-s.jpg" alt="photo8" />
        </picture>
      </div>

      <div class="grid__item gread__item-9">
        <picture>
          <source
            srcset="
              images/gallery/9/img-l.webp    1x,
              images/gallery/9/img-l@2x.webp 2x,
              images/gallery/9/img-l.jpg     1x,
              images/gallery/9/img-l@2x.jpg  2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              images/gallery/9/img-m.webp    1x,
              images/gallery/9/img-m@2x.webp 2x,
              images/gallery/9/img-m.jpg     1x,
              images/gallery/9/img-m@2x.jpg  2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              images/gallery/9/img-s.webp    1x,
              images/gallery/9/img-s@2x.webp 2x,
              images/gallery/9/img-s.jpg     1x,
              images/gallery/9/img-s@2x.jpg  2x
            "
            media="(min-width: 320px)"
          />
          <img src="images/gallery/9/img-s.jpg" alt="photo9" />
        </picture>
      </div>

      <div class="grid__item gread__item-10">
        <picture>
          <source
            srcset="
              images/gallery/10/img-l.webp    1x,
              images/gallery/10/img-l@2x.webp 2x,
              images/gallery/10/img-l.jpg     1x,
              images/gallery/10/img-l@2x.jpg  2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              images/gallery/10/img-m.webp    1x,
              images/gallery/10/img-m@2x.webp 2x,
              images/gallery/10/img-m.jpg     1x,
              images/gallery/10/img-m@2x.jpg  2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              images/gallery/10/img-s.webp    1x,
              images/gallery/10/img-s@2x.webp 2x,
              images/gallery/10/img-s.jpg     1x,
              images/gallery/10/img-s@2x.jpg  2x
            "
            media="(min-width: 320px)"
          />
          <img src="images/gallery/10/img-s.jpg" alt="photo10" />
        </picture>
      </div>

      <!-- <div class="grid__item">
        <picture>
          <source srcset="images/gallery/11.webp" type="image/webp" />
          <source srcset="images/gallery/11.jpg" type="image/jpg" />
          <img class="grid__img" src="images/gallery/11.jpg" alt="11" />
        </picture>
      </div>

      <div class="grid__item">
        <picture>
          <source srcset="images/gallery/12.webp" type="image/webp" />
          <source srcset="images/gallery/12.jpg" type="image/jpg" />
          <img class="grid__img" src="images/gallery/12.jpg" alt="12" />
        </picture>
      </div>

      <div class="grid__item">
        <picture>
          <source srcset="images/gallery/13.webp" type="image/webp" />
          <source srcset="images/gallery/13.jpg" type="image/jpg" />
          <img class="grid__img" src="images/gallery/13.jpg" alt="13" />
        </picture>
      </div>

      <div class="grid__item">
        <picture>
          <source srcset="images/gallery/14.webp" type="image/webp" />
          <source srcset="images/gallery/14.jpg" type="image/jpg" />
          <img class="grid__img" src="images/gallery/14.jpg" alt="14" />
        </picture>
      </div>

      <div class="grid__item">
        <picture>
          <source srcset="images/gallery/15.webp" type="image/webp" />
          <source srcset="images/gallery/15.jpg" type="image/jpg" />
          <img class="grid__img" src="images/gallery/15.jpg" alt="15" />
        </picture>
      </div> -->
    </div>
  </div>
</section>
