<header id="home" class="header">
  <div class="container header-container">
    <div class="header-position">
      <div class="header-box">
        <a class="header-logo" href="">
          <img class="" src="images/hero-header/logo-1x-min.png" alt="logo" />
        </a>
        <nav>
          <ul class="header-nav">
            <li class="header-nav__item">
              <a class="header-nav__link" href="#home">Home</a>
            </li>
            <li class="header-nav__item">
              <a class="header-nav__link" href="#about">About us</a>
            </li>
            <li class="header-nav__item">
              <a class="header-nav__link" href="#How">How it&#8217;s made?</a>
            </li>
            <li class="header-nav__item">
              <a class="header-nav__link" href="#products">Our products</a>
            </li>
            <li class="header-nav__item">
              <a class="header-nav__link" href="#contacts">Contact</a>
            </li>
          </ul>
        </nav>
        <button class="header-btn__mobile btn hvr-grow js-open-menu" type="button">
          <svg width="20" height="14">
            <use href="images/icons-min.svg#icon-menu"></use>
          </svg>
        </button>

        <!-- menu -->
        <div class="header-menu js-menu-container">
          <div class="menu-container is-open">
            <button
              class="header-btn__close btn hvr-grow js-close-menu"
              type="button"
              id="open-menu"
            >
              <svg width="14" height="14">
                <use href="images/icons-min.svg#icon-close"></use>
              </svg>
            </button>
            <a class="header-btn__menu btn hvr-grow" id="modal-btn" href="#openModal"
              >Buy now &#62;</a
            >
            <ul class="header-menu__list">
              <li class="header-menu__item">
                <a class="header-menu__link" id="home-link" href="#home">Home</a>
              </li>
              <li class="header-menu__item">
                <a class="header-menu__link" id="about-link" href="#about">About us</a>
              </li>
              <li class="header-menu__item">
                <a class="header-menu__link" id="How-link" href="#How">How it&#8217;s made?</a>
              </li>
              <li class="header-menu__item">
                <a class="header-menu__link" id="products-link" href="#products">Our products</a>
              </li>
              <li class="header-menu__item">
                <a class="header-menu__link" id="contacts-link" href="#contacts">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <a class="header-btn btn hvr-grow" href="#openModal">Buy now &#62;</a>
      </div>
    </div>
    <!-- hero -->
    <section class="hero">
      <div class="hero-container">
        <div class="hero-title">
          <h1 class="hero-title__content">
            ice cream <br />
            made with <br />
            <span class="hero-title__item">passion</span>
          </h1>
          <div class="hero-link">
            <a class="hero-link__content hvr-bob" href="#products">Products</a>
            <a class="hero-link__content hvr-bob" href="#How">How it&#8217;s made?</a>
          </div>
        </div>
        <div class="hero-info">
          <p class="hero-info__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button class="hero-info__btn btn hvr-grow" type="button">
            <picture class="hero-img__arrow">
              <source
                srcset="
                  images/hero-header/arrow-right-1x-min.png 1x,
                  images/hero-header/arrow-right-2x-min.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  images/hero-header/arrow-right-1x-tab-min.png 1x,
                  images/hero-header/arrow-right-2x-tab-min.png 2x
                "
                media="(min-width: 768px)"
              />
              <img src="images/hero-header/arrow-right-1x-min.png" alt="arrow-right" />
            </picture>
          </button>
        </div>
        <picture class="hero-img__icecream">
          <source
            srcset="
              images/hero-header/slider-pic7-1x-min.png 1x,
              images/hero-header/slider-pic7-2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              images/hero-header/slider-pic7-1x-tab-min.png 1x,
              images/hero-header/slider-pic7-2x-tab-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              images/hero-header/slider-pic7-1x-mob-min.png 1x,
              images/hero-header/slider-pic7-2x-mob-min.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="images/hero-header/slider-pic7-1x-min.png" alt="ice-cream" />
        </picture>
        <picture class="hero-img__ellipse">
          <source
            srcset="
              images/hero-header/ellipse-1x-min.png 1x,
              images/hero-header/ellipse-2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              images/hero-header/ellipse-1x-tab-min.png 1x,
              images/hero-header/ellipse-2x-tab-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              images/hero-header/ellipse-1x-mob-min.png 1x,
              images/hero-header/ellipse-2x-mob-min.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="images/hero-header/ellipse-1x-min.png" alt="ellipse" />
        </picture>
        <picture class="hero-img__bio">
          <source
            srcset="
              images/hero-header/slider-pic5-1x-min.png 1x,
              images/hero-header/slider-pic5-2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              images/hero-header/slider-pic5-1x-tab-min.png 1x,
              images/hero-header/slider-pic5-2x-tab-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <img src="images/hero-header/slider-pic5-1x-min.png" alt="photo of milk" />
        </picture>
        <picture class="hero-img__tasty">
          <source
            srcset="
              images/hero-header/slider-pic4-1x-min.png 1x,
              images/hero-header/slider-pic4-2x-min.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              images/hero-header/slider-pic4-1x-tab-min.png 1x,
              images/hero-header/slider-pic4-2x-tab-min.png 2x
            "
            media="(min-width: 768px)"
          />
          <img src="images/hero-header/slider-pic4-1x-min.png" alt="girl eating ice cream" />
        </picture>
        <ul class="hero-menu">
          <li class="hero-menu__list">
            <span class="hero-menu__number">16<span class="hero-menu__item"></span></span>
            <p class="hero-menu__text">cafes</p>
          </li>
          <li>
            <span class="hero-menu__number">21<span class="hero-menu__item"></span></span>
            <p class="hero-menu__text">food trucks</p>
          </li>
        </ul>
      </div>
    </section>
  </div>
</header>
